th, td {
    border-bottom: 1px solid #ddd;
    /* width: 20px; */
  }

  /* tr:hover {background-color: #f5f5f5;} */

  /* .mainRow{

  } */

  .edited{
    background-color:red;
  }

  .saveChanges{
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 75%;
  }

  .data{
    position: relative;

  }

  td{
    align-content: center;
  }

  .tableFunctions{
    width:20px;
  }

  input{
    min-width: 75px;
    resize: vertical;
    box-sizing: border-box;
    width: 75%
  }

  /* .addRow{
    border: none;
    height: 1px;
    padding: 1px;
    background-color: red;
    width: 100%;
    margin: 0px;
  }

  .addRow:hover{
    border: 2px;
    height: 1px;
    border-color: green;
    background-color: green;
  }

  .addRowTD{
    height: 20px !important;
    padding: 0px !important;
    border: none !important;

  } */
/* tr.border_bottom:hover td:hover{
  border-bottom: 1pt solid green;
}

  .mainRow:hover{ 
    /* outline: thick solid; */
    /* border-width: 2px, 4px, 8px, 16px !important;
    border-bottom-width: 3px !important;
    border-bottom-color: green!important;
  } */
